<ion-header>
  <ion-toolbar>
    <button ion-button menu-toggle="left" clear color="dark" (click)="openMenu()">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>

      <button ion-button (click)="openProfile()">
        <ion-avatar>
          <img width="40" src="../../assets/imgs/mario.jpg" style="border: 1px solid black">
        </ion-avatar>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-menu [content]="myContent">
    <ion-item-group>
      <ion-item-divider color="light">
        Favoritos
      </ion-item-divider>
      <ion-item *ngFor="let favorite of favorites">
        <a (click)="openEntity(favorite)">
          {{favorite.name}}
        </a>

      </ion-item>
      <ion-item-divider color="light">
        Extras
      </ion-item-divider>
      <ion-item>
        <a icon-start>
          <ion-icon name="settings"></ion-icon>
          Configurações
        </a>

      </ion-item>
      <ion-item>
        <a icon-start>
          <ion-icon name="help"></ion-icon>
          Perguntas
        </a>

      </ion-item>
      <ion-item>
        <a icon-start (click)="openAbout()">
          <ion-icon name="information-circle"></ion-icon>
          Sobre
        </a>
      </ion-item>
    </ion-item-group>
  </ion-menu>
  <ion-nav #myContent></ion-nav>

  <ion-list>
    <ion-item *ngFor="let event of events">
      <ion-card>
        <ion-card-header>
          {{event.titulo}}
        </ion-card-header>

        <ion-card-content>
          <p>{{event.descricao}}</p>
          <b>Início: </b>{{event.periodo.inicio}}
          <br>
          <b>Fim: </b>{{event.periodo.fim}}

        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab only-icon (click)="openSearch()">
      <ion-icon name="search"></ion-icon>
    </button>
  </ion-fab>
</ion-content>